<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-navbar">
    <%# <%= link_to "#", class: "navbar-brand" do %>
      <%# <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" %>
    <%# <% end %>
    <%= link_to greenspaces_path, class: "navbar-button" do %>
      <i class="fas fa-route navbar-icon"></i>
    <% end %>
    <%= link_to root_path, class: "navbar-button" do %>
      <i class="fas fa-house navbar-icon"></i>
    <% end %>
    <%= link_to "#", class: "navbar-button" do %>
      <i class="fas fa-chart-column navbar-icon"></i>
    <% end %>
  </div>
</div>
