
  <div class = "topbar" style="display: flex; justify-content: space-between">
    <div class="logo">
      <%= image_tag 'logo.png', class:'reset-logo' %>
    </div>
      <h3><%=current_user.username %>'s space</h3>

    <div>
      <%= image_tag current_user.photo, class:"avatar" %>
    </div>
  </div>

  <div class="" style="height: 70px;"></div>

  <div class="line-chart">

    <h2 style="font-size: 18px;">Stress levels before and after walk</h2>

    <%= line_chart [{name: "initial stress level", data: @walk_stress_levels_before, color: ["purple"]},  {name: "post stress level", data: @walk_stress_levels_after, color: ["#81C803"]}] %>
  </div>


      <div class="pie-chart">

        <h3 style="text-align: center;">Music vs Meditation</h3>
        <%= pie_chart @music_meditation, colors: ["purple", "#81C803"] %>

      </div>

  <div class="cards-dashboard">
    <div class="card">
      <div class="card-content">
        <div class="number">5</div>
        <div class="card-name">Total number of Resets</div>
      </div>
    </div>

    <div class="card">
      <div class="card-content">
        <div class="number">7</div>
        <div class="card-name">Average Stress Level</div>
      </div>

    </div>
    <div class="card">
      <div class="card-content">
        <div class="number">5</div>
        <div class="card-name"> Greenspace Reviews</div>
      </div>
    </div>
    <%= link_to diary_path, class: "card-name" do %>
      <div class="card">
        <div class="card-content">
          <div class="number">5</div>
          <div class="card-name">Diary Entries</div>
        </div>
      </div>
    <% end %>
  </div>

    <%# <div class="charts"> %>
<%# <div class="" style="height: 85px;"></div> %>
