<div class="banner">
<video id="background-video" autoplay loop muted poster="https://assets.codepen.io/6093409/river.jpg">
<source src="https://res.cloudinary.com/dpk3pz6zs/video/upload/v1655284586/2022-06-15_10-08-56_c6tjhj.mov" type="video/mp4">
</video>
  <div class="banner-content">
    <%= image_tag 'logo.png', class:'reset-logo' %>
    <h3 style="color:white;">take a walk</h3>
    <h3 style="color:white;">find</h3>
    <h3 style="color:white;">space</h3>

    <%# <h2 class="ml3">Finding happiness through greenspaces</h2> %>


  </div>

  <div class="search_bar">
    <div class ="d-flex flex-row-reverse align-items-center" data-controller="address-autocomplete"data-address-autocomplete-api-key-value="<%= ENV["MAPBOX_API_KEY"] %>">
    <%= form_tag greenspaces_path, method: :get, class: "" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control d-none",
        placeholder: "Enter location",
        data: {target: "address-autocomplete.address"}
      %>
      <%= submit_tag "Find Walks", class: "btn btn-search", style: "padding: 12px 12px; font-weight: bold" %>
    <% end %>
    </div>
  </div>
</div>
