<div class="banner" style="background-image: url('https://res.cloudinary.com/dpk3pz6zs/image/upload/v1655225173/reset_autumn_sibjt1.jpg')">
  <div class="banner-content">
    <%= image_tag 'logo.png', class:'reset-logo' %>
    <h3 style="color:white;">take a walk</h3>
    <h3 style="color:white;">find</h3>
    <h3 style="color:white;">space</h3>

    <%# <h2 class="ml3">Finding happiness through greenspaces</h2> %>
   
    
  </div>

  <div class="search_bar">
    <div data-controller="address-autocomplete"data-address-autocomplete-api-key-value="<%= ENV["MAPBOX_API_KEY"] %>">
    <%= form_tag greenspaces_path, method: :get, class: "" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control d-none",
        placeholder: "Enter location",
        data: {target: "address-autocomplete.address"}
      %>
      <%= submit_tag "Find Walks", class: "btn btn-search" %>
    <% end %>
    </div>
  </div>
</div>
