<div class="banner" style="background-image: url(<%= asset_path('home.jpg')%>">
  <div class="banner-content">
    <%= image_tag 'logo.png', class:'reset-logo' %>

    <h2 class="ml3">Reset your mind</h2>
    <%# <div class="container">
      <p>Reset is the new app that allows you to destress
      by taking a mindful walk through greenspaces
      listening to music or meditation</p>
    </div> %>

  </div>
  <div class="search_bar">

    <%= form_tag greenspaces_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Enter location"
      %>
      <%= submit_tag "Find Walks", class: "btn btn-search" %>
    <% end %>
  </div>
</div>
