<div class="banner" style="background-image: url(<%= asset_path('home.jpg')%>">
  <div class="banner-content">
    <%= image_tag 'logo.png', class:'reset-logo' %>

    <h2 class="ml3">Reset your mind</h2>
    <%# <p class="ml3">Take a walk</p>
    <p class="ml3">Where are you?</p> %>
    <div class="container" style="color:white;padding:40px 40px 0px 40px;">
      <p>Take care of your mental health
      by taking a mindful walk through greenspaces
      listening to music or meditation</p>
    </div>

  </div>
  <div class="search_bar">

    <%= form_tag greenspaces_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Enter location",
        input_html: {data: {address_autocomplete_target: "address"}},
        wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}
      %>
      <%= submit_tag "Find Walks", class: "btn btn-search" %>
    <% end %>
  </div>
</div>
