<div class="container main-container">
  <div>
    <%= image_tag 'logo.png', class:'index-logo' %>
  </div>
  <div class=" my-3 mt-3" style="width: 100%; height: 450px;"
    <%# 580px;" %>
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-search-value="<%= [@walk.latitude, @walk.longitude].to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>


  <%# <%= link_to 'Begin my reset', edit_greenspace_walk_path, class:"btn btn-search mb-5 my-5 mx-5" %>


  <%# <% Audio reproductor Spotify %>
  <%# <%= @walk.music %>
  <%  if @walk.music == "Music" %>
     <iframe style="border-radius:12px" src="https://open.spotify.com/embed/artist/1qgB6NuCHTeTBLJYilicIP?utm_source=generator" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
  <%  else %>
     <iframe style="border-radius:12px" src="https://open.spotify.com/embed/artist/5pDpKXDZXe97W5nPVRQo8A?utm_source=generator" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
  <%  end%>
   <div class="d-grid gap-2">
    <%=  link_to "Finish walk", edit_greenspace_walk_path, class:"btn btn-primary fs-4 my-3 rounded-corners" %>
   </div>
</div>
