<div class="container main-container">
  <%= image_tag 'logo.png', class:'index-logo' %>
  <h2 class="text-center">Find your space</h2>
  <div class="cards">
    <% @greenspaces.each do |greenspace| %>
      <%= link_to greenspace_path(greenspace, query: params[:query]), class: 'greenspace-card-link' do %>
        <div class="card-index">
          <%= cl_image_tag greenspace.photos[0].key %>
          <div class="card-index-infos">
            <h2><%=  greenspace.name %></h2>
            <div class="card-index-rating">
              <p class="align-items-center px-3 py-2"><em><%= greenspace.description %></em></p>
            </div>
            <% if params[:query].present? %>
              <div class="card-trip-user d-flex walk-time align-items-center justify-content-center">
                <p> <%= greenspace.distance %> mins walk</p>
              </div>
            <% end %>
          </div>
          <p style="text-align: end; padding-right: 10px; margin-bottom: 8px"><%= "⭐️" * greenspace.average_rating %></p>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="my-3 mb-5" style="width: 100%; height: 300px"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
<%# Class removed from main container => index-margin %>
