
<div class="container main-container">
  <%= image_tag 'logo.png', class:'index-logo' %>
  <h3 class="mb-2 mt-4 text-center" >Leave a review for <%= @greenspace.name... %></h3>

  <div class="form-container">
    <%= simple_form_for([@greenspace, @review]) do |f| %>
    <div class="form-input">
      <%= f.input :content, :label => 'How did this walk make you feel?', :placeholder => '...' %>
      <%= f.input :rating, :collection => 1..5, :hint => 'Give your rating from 1 to 5 stars' %>
      <div class="d-grid gap-2">
      <%= f.submit class: 'btn btn-primary fs-4 mb-3 rounded-corners' %>
      </div>
      <% end %>
    </div>
    <hr>
    <h3 class="text-center" >...or skip to your dashboard</h3>
    <div class="d-grid gap-2">
      <%= link_to "My dashboard", dashboard_path, class:"btn btn-primary fs-4 mt-3 rounded-corners" %>
    </div>

  </div>
</div>
