<!DOCTYPE html>
<html>
  <head>
    <title>Reset</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src=https://api.tiles.mapbox.com/mapbox-gl-js/v2.8.1/mapbox-gl.js></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <link href=https://api.tiles.mapbox.com/mapbox-gl-js/v2.8.1/mapbox-gl.css rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Bad+Script&family=Montserrat+Alternates:wght@100&family=Roboto:ital,wght@1,300&display=swap" rel="stylesheet">

    <%# What is this syling doing here?!??? %>
    <style>
    body {
      margin: 0;
      padding: 0;
      font-family: 'Open Sans', sans-serif;
    }

    #map {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
    }
  </style>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>


  <body>
    <%= yield %>
    <%= render "shared/flashes" %>
    <%= render 'shared/navbar' %>
  </body>
</html>
