<!DOCTYPE html>
<html>
  <head>
    <title>Reset</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src=https://api.tiles.mapbox.com/mapbox-gl-js/v2.8.1/mapbox-gl.js></script>
    <link href=https://api.tiles.mapbox.com/mapbox-gl-js/v2.8.1/mapbox-gl.css rel="stylesheet" />
    <style>
    body {
      margin: 0;
      padding: 0;
      font-family: 'Open Sans', sans-serif;
    }

    #map {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
    }
  </style>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>


  <body>
    <%= yield %>
    <%= render "shared/flashes" %>
    <%= render 'shared/navbar' %>
  </body>
</html>
